<h2>Book View</h2>

<div *ngIf='books?.length > 0;else noBooks' class="card-deck mt-5">
    <div class="card" *ngFor="let book of books" >
      <img src="{{book.image}}" class="card-img-top" alt="[book.title]">
      <div class="card-body">
        <h5 class="card-title">{{book.title}}</h5>
        <p class="card-text">{{book.description}}</p>
        <p class="card-text"><small class="text-muted">{{book.author}}</small></p>
        <button class="btn btn-danger block">{{book.price}}</button>
      </div>
    </div>
  </div> 



  <ng-template #noBooks>
    <hr>
    <h5>There are No Books in the System</h5>
</ng-template>